.image {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.container {
  margin-bottom: 5rem;

  h1 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: var(--white);
  }
}

.headingContent {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  color: var(--gray-300);
  svg {
    margin-right: 0.5rem;
  }

  time {
    display: flex;
    margin-right: 1.85rem;
  }

  p {
    display: flex;
    margin-right: 1.85rem;
    font-weight: 400;
  }
}

.bodyContent {
  color: var(--gray-300);
  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--white);
  }
}

.edition {
  color: var(--gray-300);
  margin-top: -3rem;
  font-size: 0.875rem;
}

.footer {
  border-top: 1px solid var(--gray-100);
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  padding: 3rem 0 3rem 0;
}

.buttonsNavigation {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    a {
      color: var(--pink-500);
      font-weight: 600;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}
.next {
  align-items: flex-end;
}

.comments {
  margin-top: 3.75rem;
}
